extends layout

block functions
  -
    function prettyDate(dateString) {
      if (dateString) {
        var date = new Date(dateString);
        var d = date.getDate();
        var m = date.getMonth()+1;
        var y = date.getFullYear();
        return d+'.'+m+'.'+y;
      } else {
        return '-';
      }
    }

block content
  h1= title
  table(class='table')
    tr
      th= 'Title'
      th= 'Last completed'

    each task in tasks
      tr
        td= task.title
        td #{prettyDate(task.lastCompleted)}

  include newtask
